In [1]:
import pandas as pd

In [2]:
white=pd.read_csv("winequality-white-kaggle.csv",sep=";")

In [3]:
white["type"]="white"

In [4]:
red=pd.read_csv("winequality-red-kaggle.csv",sep=";")

In [5]:
red["type"]="red"

In [6]:
white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [7]:
red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [8]:
sample=red.append(white,ignore_index=True)

In [9]:
sample.loc[1,:]

fixed acidity              7.8
volatile acidity          0.88
citric acid                  0
residual sugar             2.6
chlorides                0.098
free sulfur dioxide         25
total sulfur dioxide        67
density                 0.9968
pH                         3.2
sulphates                 0.68
alcohol                    9.8
quality                      5
type                       red
Name: 1, dtype: object

In [13]:
 sample

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [23]:

sample1 = sample.drop(['citric acid', 'residual sugar', 'density', 'pH', 'quality'], axis = 1)
sample1

,fixed acidity,volatile acidity,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol,type
0,7.4,0.70,0.076,11.0,34.0,0.56,9.4,red
1,7.8,0.88,0.098,25.0,67.0,0.68,9.8,red
2,7.8,0.76,0.092,15.0,54.0,0.65,9.8,red
3,11.2,0.28,0.075,17.0,60.0,0.58,9.8,red
4,7.4,0.70,0.076,11.0,34.0,0.56,9.4,red
...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.039,24.0,92.0,0.50,11.2,white
6493,6.6,0.32,0.047,57.0,168.0,0.46,9.6,white
6494,6.5,0.24,0.041,30.0,111.0,0.46,9.4,white
6495,5.5,0.29,0.022,20.0,110.0,0.38,12.8,white
6496,6.0,0.21,0.020,22.0,98.0,0.32,11.8,white

# 1. Dropping the Output Column

In [26]:
X=sample1.drop("type",axis=1)

In [27]:
y=sample1["type"]

# 2. Splitting the Data

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=.1, stratify=y)

# 3. Training

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
clf=RandomForestClassifier(n_estimators = 100)

In [32]:
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

# 4. Accuracy

In [33]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9923076923076923

# 5. Prediction

In [34]:
data = pd.DataFrame([{0:8, 1:0.78, 2:0.078, 3:15.0, 4:50.0, 5:0.60, 6:9.0}])
data

   0     1      2     3     4    5    6
0  8  0.78  0.078  15.0  50.0  0.6  9.0

In [35]:
clf.predict(data)

array(['red'], dtype=object)